Host k3s-init-server 
  Hostname 96.127.123.219
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host k3s-server-0
  Hostname 15.205.70.217
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host k3s-server-1 
  Hostname 15.205.138.220
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop
