Host k3s-init-server 
  Hostname 160.1.135.9
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host k3s-server-0
  Hostname 52.61.200.134
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop

Host k3s-server-1 
  Hostname 15.205.96.233
  User ubuntu
  IdentityFile ~/.ssh/rancher-laptop
